<div class="formcontainer">
    <div class="formbody">
        <form [formGroup]="myForm">
            <div class="header">Proposition de la mission</div>
            <mat-form-field appearance="fill">
                <mat-label>Titre</mat-label>
                <input matInput formControlName="titre"  id="user" >
                <span *ngIf="isValid('titre')">Veuillez saisir votre le titre </span>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" cols="65" rows="5" id="user"></textarea>
                <span *ngIf="isValid('titre')">Veuillez décrire votre mission</span>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input type="date" formControlName="date" matInput placeholder="date" id="user">
                <span *ngIf="isValid('titre')">Veuillez saisir la date </span>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="adresse" id="user">
                <span *ngIf="isValid('adresse')">Veuillez saisir votre adresse</span>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Telephone</mat-label>
                <input matInput formControlName="telephone" id="user">
                <span *ngIf="isValid('telephone')">Veuillez saisir votre numero de telephone adresse</span>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Type des prestations</mat-label>
                <mat-select formControlName="type_prestation" >
                  <mat-option value="mariage" name="type_prestation">Mariage</mat-option>
                    <mat-option value="anniversaire" name="type_prestation">Anniversaire</mat-option>
                      <mat-option value="seminaire" name="type_prestation">Seminaire</mat-option>
                      <mat-option value="autre" name="type_prestation">Autre</mat-option>
                </mat-select>
                <span *ngIf="isValid('type_prestation')">Veiullez choisir un type</span>
              </mat-form-field>

            <div >
                <button  mat-raised-button color="accent" class="form-btn" (click)="SubmiteMissionFormProp()">Envoyer</button>
            </div>


            <div class="MessageRegister">                
                {{successMessage}}
            </div>
        </form>
    </div>

</div>