.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 210px;
   
  }
  
  .formbody{
    display: flex;
    width: 565px;
    min-height: 200px;
    background-color: white;
    box-shadow:0 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
  }
  
  
  .header{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;      
  }
  
  div > span {
    font-size: 0.75rem;
    color: firebrick;
  }
  
  .MessageRegister{
    text-align: justify; 
    color:darkgreen ;
    padding-top: 10px;
    border-radius: 8px;
    background: #e6dddd;
    margin: 24px;
    font-size: 16px;
  }

  input{
    
    background-color: rgba(220, 220, 226, 0.836);
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    text-justify: initial;
    
  }