<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="myForm">
            <div class="header">Proposition de la mission</div>

            <div>
                    <h4>Titre de la mission</h4>
                <mat-form-field style="width:100%;">
                    
                    <input type="text" formControlName="titre" matInput placeholder="titre" id="user">
                </mat-form-field>
                <span *ngIf="isValid('nom')">Veuillez saisir votre le titre </span>
            </div>

            <div>
                    <h4>Description de la mission</h4>
                <mat-form-field style="width:100%;">
                   <textarea formControlName="description" cols="50" rows="5"></textarea>
                </mat-form-field>                
                <span *ngIf="isValid('description')">Entered email is invalid</span>
            </div>

            <div>
                    <h4>La date de la mission</h4>
                <mat-form-field style="width:100%;">
                    
                    <input type="date" formControlName="date" matInput placeholder="date" id="user">
                </mat-form-field>
                <span *ngIf="isValid('date')">Veuillez saisir votre la date </span>
            </div>
           
            <div>
                <h4>Type de prestattion</h4>
                <mat-form-field style="width:100%;">
                    <input type="radio"  value="mariage" formControlName="type_prestation" name="experience"> mariage
                    <input type="radio"  value="anniversaire"  formControlName="type_prestation" name="experience">   anniversaire
                    <input type="radio" value="semainaire"  formControlName="type_prestation" name="type_prestation">  semainaire
                    <input type="radio" value="autre"  formControlName="type_prestation" name="type_prestation">  autre
                </mat-form-field>
                <span *ngIf="isValid('type_prestation')">Veiullez choisir un type</span>
            </div>
           
            <div style="margin-top:20px;">
                <button  mat-raised-button color="accent" class="form-btn" (click)="register()">Envoyer</button>
            </div>


            <div class="MessageRegister">                
                {{successMessage}}
            </div>
        </form>
    </div>

</div>