.formcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 210px 30px 20px 30px;
  
}

.formbody{
  display: flex;
  width: 900px;
  min-height: 180px;
  background-color: white;
  box-shadow:0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px;
}


.header{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;      
}

div > span {
  font-size: 0.75rem;
  color: firebrick;
}

.MessageRegister{
  text-align: justify; 
  color:darkgreen ;
  padding-top: 10px;
  border-radius: 8px;
  background: #e6dddd;
  margin: 24px;
  font-size: 16px;
}

.detail_presta1{



  
}

.experienc_class{
  background-color: rgb(243, 239, 239);
  border-radius: 3px;
}

form{
  
  margin-right: auto;
  margin-left: auto;
  background: #EEE;
  padding: 210px 30px 20px 30px;
  font: 12px Georgia, "Times New "
}


form input[type="text"], form input[type="email"]{
  border: 1px solid #DADADA;
  color: #888;
  height: 24px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}

legend{
  font-weight: bold;
}

textarea{
  width: 80%;
  height: 100px;
}
input{
  width: 200px;
  height: 30px;
  border-radius: 4px bold;
}
input[type="radio"], input[type="checkbox"]{
  width: auto;
}
input[type="submit"]{
  width: 100px;
}

label{
  background-color: red;
}

.first_part{
  display: inline-block;
  background-color: black;
  width: 600px;
  height: 200px;
  font-size: 16px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.second_class{
  padding: 50px;
 font-size: 16px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.endClass{
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
 
}

button{
  width: 160px;
  height: 30px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #3f51b5;
}