.profile_header{
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 0px;
    background-color:#393F4D;
    height: 300px;
    position: relative;
}

.profile_main{
   
    position: absolute;
    margin-top: 20px;
  
  
    margin-bottom: 70px;
    margin-right: 60px;
    margin-left: 50px;
    background-color: white;
}

.core_prestat{
    background: rgb(226, 220, 220);
  
    top: 380px;
    left: 50px;
    width: 350px;

    position: absolute;
    height: 600px;

    

}


.core_prestat1{
    background:#343a5e;
    border: 1px solid black;
    top: 380px;
    left: 414px;
   
    width: 670px;

    position: absolute;
    height: 300px;

    

}

.misson_prop{
    height:50px;
    width: 199px;
    background-color: red;
    left: 800px;
    position: absolute;
    top: 50px;
    font-size: 18px;
    color: white;
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
}