
.profile_header{
    border: 1px solid black;

    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 0px;
    background-color:#393F4D;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 240px;
}

/* .profile_main{
   
    position: absolute;
    margin-top: 20px;
  
  
    margin-bottom: 70px;
    margin-right: 60px;
    margin-left: 50px;
    background-color:red;
    
} */

.core_prestat{
    background: rgb(226, 220, 220);
  
    top: 608px;
    left: -5px;
    width: 350px;

    position: absolute;
    height: 600px;
    left: 167px;

    

}


.core_prestat1{
    background:#343a5e;
    border: 1px solid black;
    top: 608px;
    left: 560px;
   
    width: 670px;

    position: absolute;
    height: 300px;
    color: white;

    

}


.misson_prop{
    height:50px;
    width: 199px;
    background-color: red;
    left: 490px;
    position: absolute;
    top: 50px;
    font-size: 18px;
    color: white;
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
}
mat-card{
    margin: 20px;
    position: absolute;
    margin-top: 52px;
  
    width: 850px;
    height: 249px;;
    margin-bottom: 90px;
    margin-right: 60px;
    margin-left: -327px;
}


.image_profile{
    min-height: 10px;
    min-width: 20px;
    width: 221px;
    height: 249px;
    margin: 1px;
    margin-top: 50px;
    margin-left: -550px;

}

.nom_prestataire{
    color: #484848;
    font-size: 42px;
    font-weight:600;
    
}

.titre_prestataire{
    color: #484848;
    margin-bottom: .5em;
    font-size: 16px;
    word-break: break-word;
    font-family:'Roboto';
}
.ville_prestataire{
    color: #484848;
    font-size: 18px;
}

.tarif_prestataire{
    color: white;
    font-size: 18px;
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    
}

.tarif_prestataire_main{
    width: 133px;
    height: 74px;
    background-color: #465192;
    border-color: #465192;
    margin-top: 14px;
    border-radius: 5px;
    align-items: center;
    z-index: 1;
    
}


/* body{
    margin: 0;
    padding: 0;
}
.contenaire{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "section"
    "nav article"
    "footer footer";
}


section{
    background: red;
    grid-area: section;
}
nav{
    background: black;
    grid-area: nav;
}
article{
    background: yellow;
    grid-area: article;
}
footer{
    background: blue;
    grid-area: footer;
    color: white;
} */