
  <div id="navbar">

      <a [routerLink]="['/accueille']" href="#accueille" id="logo">Jl EntrePrise</a>

    <div id="navbar-right">
        
        <span class="spacer"></span>
        <a  [routerLink]="['/accueille'] " href="#maccueil">Accueil</a>
        <a [routerLink]="['/create-profile']" href="#je suis prestataire">Je suis prestataire</a>
        <a  [routerLink]="['/inscription']" href="#m'inscrire">M'inscrire</a>
        <a  [routerLink]="['/connexion']" href="#me connecter">Me connecter</a>
    </div>

  </div>

  


  
     
     
  
