<mat-card>
                
       <h1>Crée votre profile</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Harum non nesciunt ducimus earum sint, quod odit provident quas?<br> Fuga accusantium ducimus veniam dolor architecto velit tempore culpa perferendis nobis fugit.</p> <br><br>
        
       
        <button (click)="GotoCreate_detail()"
        mat-raised-button
        color="accent"
        type="submit">Je crée mon profile</button>
<br>
        <div class="connetction_prestataire">
                        <button (click)="GotologinPrestataire()"
                        mat-raised-button
                        color="primary"
                        type="submit">Se connecter</button>
        </div>
       
</mat-card>

