
img {
    width: 900px;
}

.prest_holder {
    width: 100%;
    max-width: 1440px;
    padding: 10px;
}
.prest_holder .top {
    height: 60vh;
  
    margin-bottom: 70px;
}
.prest_holder .top h1 {
    height: 50px;
    width: 200px;
    background: red;
    margin: 150px auto;
    line-height: 50px;
    text-align: center;   
}
.sec_title {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background:#3f51b5;
    color: white;
    border-radius: 2px;
    font-family: 'Roboto';
    font-weight:300;
  font-size:32px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}


.sec_title2 {
    width: 1100px;
    display: inline-block;
    content: '';
    height: 5px;
    border-bottom: 2px solid #817974;
}

.prest {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #eee;
}
.prest_ind {
    height: 350px;
    width: 300px;
   
    border-radius: 5px;
    transition: .5s;
    margin-top: 20px;
    background: #fff;
    
}
.prest_ind img:not(.city_loca_icon){
   
    height: auto;
    line-height: 1;
    
    bottom: 1px;
    left: -1px;
    width: 100% ;
    height: 214.23px;
   
   
}


.prest_ind:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, .18);
}

.posibility{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: rgb(190, 187, 187);
   
}
#container{
width: 100%;
margin-top: 20px;




}

.items{
    max-width: 400px;
    height: 400px;
    background: #ECECEC;
}
#left, #right{
margin: 30px;
width: 40px;
}

.presta_tarif{
    border-radius: 30px;
    position: relative;
    top:-104px;
    right:  -194px;
   display: flex;
   padding: 5px 10px;
   font-size: 12px;
   align-items: center;
   color: #fff;
   background-color: #465192;
   margin: 0px;

}

.presta_titre{
    color:black;
    position: relative;
    top:51px;
    font-size: 20px;
    right: -11px;
}
.presta_nom{
 color:white;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 position: relative;
 top:-118px;
 text-align: center;
}
.city_loca_icon{
width: 20px;
position: relative;
top:-128px;
right: -8px;


}
.city_position{
position: relative;
top:-143px;

right: -31px;
}

.steps ul{
 margin: 60px 0;
}

.steps h4{
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.steps ul li {
    width: 300px;
    float: left;
   margin-top: 10px;
    color: red;
    text-align: center;
    margin-left: 60px;
}

.image_profile{
    min-height: 200px;      
    min-width: 50px;

}
.image_carou{
    width: 200px;
    height: 300px;
    margin-top: 120px;
}

.main_carou{
    margin-top: 20px;
    width: 1100px;
    height: 250px;
}
/* #step1{
background: url('')
}
#step2{
    
} */
/* #step3{
    
} */
/* 
PLACE GENERALE */

h4 {
font-size: 24px;
color: #444;
}




#tème_partie button {
    height: 40px;
    width: 40px;
    background: #f55b05;
    position: relative;
    left: 48%;
    border: none;
    top: -20px;
}
div.foot_nav {
    height: 55px;
    width: 975px;
    margin: 0 auto;
    padding-top: 50px;
}
div.foot_nav ul {
    list-style: none;
    display: block;
    
}
div.foot_nav ul li {
    display: inline-block;
    color: #817974;
    margin: 8px;
    font-size: 15px;
}
div.foot_nav ul li.foot_logo {
    clear: both;
    position: relative;
    top: 30px;
}
div.social {
    margin: 0 auto;
    color: #817974;
    margin-top: 80px;
    font-size: 25px;
    text-align: center;
}  
div.social i {
    margin: 10px;
    border: 2px solid #817974;
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
div.social::before {
    width: 350px;
    display: inline-block;
    content: '';
    height: 5px;
    border-bottom: 2px solid #817974;
}  
div.social::after {
    width: 350px;
    display: inline-block;
    content: '';
    height: 5px;
    border-bottom: 2px solid #817974;
} 
#tème_partie p {
    color: black;
    text-align: center;
    margin-top: 50px;
}

/* p{

} */

