
 
<div class="prest_holder">
    
    
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="p">
    </div>
    <h2 class="sec_title">Faites confiance à nos Prestataires </h2>

   
    <section class="prest">
       
        <div class="prest_ind" *ngFor="let p of prestataire | filter:p |  paginate: config " routerLink="/photographe-detail/{{p.id}}">
           
            <!-- <p>  <img [attr.src]="p.photo " width="1" height="1" > </p>  -->
          
           
            <img src="../../../assets/image/imgProfile/{{p.image}}" class="image_profile">
           
            
            <h3 class="presta_titre">{{p.titre}}</h3>
           
            <p class="presta_nom">{{p.nom}} {{p.prenom}}</p>
        
            <button class="presta_tarif">{{p.tarif}}/jours</button>
            <div class="presta_ville">
                <img class="city_loca_icon" src="../../../assets/image/location-icon-map.png" >
                <div class="city_position">
                        {{p.ville}}
                </div>
            </div>
           
        </div>
       
        
    </section>
   
<br>
<br>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>





<h2 class="sec_title2"></h2>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
       
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 ">
       
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <h2 class="sec_title2"></h2>
    <section class="pt-0 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    
                    <h2 class="mb-5 fw-medium text-secondary text-uppercase">Inscrivez-vous à notre newsletter !</h2>
                   
    
                    <form class="form">
                        <div class="form-group mb-1">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <input type="text" class="form-control mb-3 mb-lg-2" placeholder="Email address">
                                </div>
                                <div class="col-8 col-lg-4">
                                    <button type="button" class="btn btn-primary btn-block">Subscribe<i class="zmdi zmdi-mail-send ml-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <div id="tème_partie">
       
       
        <div class="foot_nav">
        
        </div>
        <div class="social">
           
        </div>
        <p>©Jl EntrePrise, ALL RIGHTS RESERVED</p>
    </div>
    

    